{% load static %}
{% block subject %}Recuperación de Contraseña <br> <br>{% endblock %}

{% block body %}

    Hola {{ user.first_name }}, tu usuario es: {{ user.username }} <br> <br>

    Has solicitado restablecer tu contraseña en Leguaire.com. Por favor, sigue el siguiente enlace para completar el
    proceso:
    <br> <br><br>

        <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Restablecer
            Contraseña</a>
<br> <br>

    Si no has solicitado restablecer tu contraseña, ignora este mensaje.<br><br>

    Gracias.

{% endblock %}