{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid px-0">
        <div class="container">
            <div class="row flex-center min-vh-25 py-3">
                <div class="col-sm-10 col-md-8 col-lg-5 col-xl-5 col-xxl-3"><a
                        class="d-flex flex-center text-decoration-none mb-4">
                    <div class="d-flex align-items-center fw-bolder fs-5 d-inline-block">
                        {% if site_logo %}
                            <img
                            src="{% static '' %}{{ site_logo }}"
                            alt="{{ site_name }}" width="200px"/>
                        {% endif %}
                    </div>
                </a>
                    <div class="text-center mb-7">
                        <h3 class="text-1000">Contraseña modificada satisfactoriamente</h3>
                        <p class="text-700"></p>
                    </div>
                    <div class="position-relative mt-4">
                        <hr class="bg-200"/>
                        <div class="divider-content-center"></div>
                    </div>

                    <div class="mb-3 text-start">
                        <p class="text-700">Su password ha sido modificado correctamente. Puede volver a <a
                                href="{% url 'login' %}">ingresar ahora</a> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}