{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid px-0">
        <div class="container">
            <div class="row flex-center min-vh-25 py-3">
                <div class="col-sm-10 col-md-8 col-lg-5 col-xl-5 col-xxl-3"><a
                        class="d-flex flex-center text-decoration-none mb-4">
                    <div class="d-flex align-items-center fw-bolder fs-5 d-inline-block">
                        {% if site_logo %}
                            <img
                            src="{% static '' %}{{ site_logo }}"
                            alt="{{ site_name }}" width="200px"/>
                        {% endif %}
                    </div>
                </a>
                    <div class="text-center mb-7">
                        <h3 class="text-1000">Enviado correo de cambio de contraseña</h3>
                        <p class="text-700"></p>
                    </div>
                    <div class="position-relative mt-4">
                        <hr class="bg-200"/>
                        <div class="divider-content-center">siga instrucciones en su correo</div>
                    </div>

                    <div class="mb-3 text-start">
                        <p class="text-700">Hemos enviado un correo electrónico para con las instrucciones para
                            actualizar su contraseña. Debe recibirlo pronto</p>

                        <p class="text-700">Si usted no recibe el correo, por favor asegurese haber colocado la
                            dirección que utilizó al
                            momento de registrarse y verifique en su carpeta de correo no deseado</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}