{% load static %}
<section class="bg-body-emphasis pb-8" id="home">
    <div class="container-small hero-header-container px-lg-7 px-xxl-3">
        <div class="row align-items-center">
            <div class="col-12">

                <div class="card text-white overflow-hidden">
                    <img class="card-img-top" src="{{ principal.image_url }}" alt="...">
                    <div class="card-img-overlay d-flex align-items-end">
                        <div>
                            <h4 class="card-title text-white">{{ principal.title }}</h4>
                            <p class="card-text">{{ principal.summary }}</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="bg-body-emphasis" id="blog">
    <div class="container-small px-lg-7 px-xxl-3">
        <div class="mb-4 text-center text-sm-start">
            <h4 class="text-primary fw-bolder mb-3">Blog</h4>
            <h2>Latest articles</h2>
        </div>
        <p class="column-md-2"></p>
        <div class="row h-100 mb-3 g-3 justify-content-center">
            {% for n in news %}
                <div class="col-sm-6 col-lg-3 mb-3 mb-md-0">
                    <div class="card text-white dark__text-gray-1100 h-100"><img
                            class="rounded-top h-100 object-fit-cover" src="{{ n.image_url }}"
                            alt="{{ n.title }}"/>
                        <div class="card-body rounded-top">
                            <span class="badge badge-phoenix badge-phoenix-primary mb-2">Horse Racing</span>
                            <h4 class="fw-bold mb-3 lh-sm line-clamp-2">{{ n.summary }}</h4><a
                                class="btn-link px-0 d-flex align-items-center fs-9 fw-bold" href="{{ n.url }}"
                                role="button">Read
                            more<span class="fa-solid fa-angle-right ms-2"></span></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="text-center mt-6"><a class="btn btn-outline-primary" href="#!">View All<span
                class="fa-solid fa-angle-right ms-2"></span></a></div>
    </div>
    <!-- end of .container-->

</section>
<!-- <section> close ============================-->
<!-- ============================================-->


<div class="position-relative">
    <div class="bg-holder footer-bg"
         style="background-image:url({% static 'assets/img/bg/bg-19.png' %});background-size:auto;">
    </div>
    <!--/.bg-holder-->

    <div class="bg-holder"
         style="background-image:url({% static 'assets/img/bg/bg-right-20.png' %});background-position:right;background-size:auto;">
    </div>
    <!--/.bg-holder-->

    <div class="bg-holder"
         style="background-image:url({% static 'assets/img/bg/bg-left-20.png' %});background-position:left;background-size:auto;">
    </div>
    <!--/.bg-holder-->

    <div class="position-relative">
        <svg class="w-100 text-white dark__text-gray-1100" preserveAspectRatio="none" viewBox="0 0 1920 368"
             fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1920 0.44L0 367.74V0H1920V0.44Z" fill="currentColor"></path>
        </svg>


        <!-- ============================================-->
        <!-- <section> begin ============================-->
        <section class="footer-default">

            <div class="container-small px-lg-7 px-xxl-3">
                <div class="row position-relative">
                    <div class="col-12 col-sm-12 col-lg-5 mb-4 order-0 order-sm-0"><a href="#">
                        <img class="mb-3"
                             src="{% static 'assets/img/icons/logo-white.png' %}"
                             height="48"
                             alt=""/></a>
                        <h3 class="text-white">phoenix</h3>
                        <p class="text-white opacity-50">All over the world. Alice in <br/>wonderland and other
                            places.</p>
                    </div>
                    <div class="col-lg-7">
                        <div class="row justify-content-between">
                            <div class="col-6 col-sm-4 col-lg-3 mb-3 order-2 order-sm-1">
                                <div class="border-dashed border-start border-primary-light ps-3"
                                     style="--phoenix-border-opacity: .2;">
                                    <h5 class="fw-bolder mb-2 text-light">Help</h5>
                                    <ul class="list-unstyled mb-3">
                                        <li class="mb-1"><a class="text-body-quaternary" href="#!"
                                                            data-bs-theme="light">About</a></li>
                                        <li class="mb-1"><a class="text-body-quaternary" href="#!"
                                                            data-bs-theme="light">Contact</a></li>
                                        <li class="mb-1"><a class="text-body-quaternary" href="#!"
                                                            data-bs-theme="light">Developers</a></li>
                                    </ul>
                                </div>
                                <div class="border-dashed border-start border-primary-light ps-3"
                                     style="--phoenix-border-opacity: .2;">
                                    <h5 class="lh-lg fw-bolder mb-2 text-light">Follow</h5>
                                    <ul class="list-unstyled mb-2">
                                        <li class="mb-1"><a class="text-body-quaternary" href="#!"
                                                            data-bs-theme="light">Facebook</a></li>
                                        <li class="mb-1"><a class="text-body-quaternary" href="#!"
                                                            data-bs-theme="light">Twitter</a></li>
                                        <li class="mb-1"><a class="text-body-quaternary" href="#!"
                                                            data-bs-theme="light">Linkedin</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-6 col-sm-4 col-lg-3 mb-3 order-3 order-sm-2">
                                <div class="border-dashed border-start border-primary-light ps-3"
                                     style="--phoenix-border-opacity: .2;">
                                    <h5 class="lh-lg fw-bold text-light mb-2">Support</h5>
                                    <ul class="list-unstyled mb-md-2">
                                        <li class="mb-1"><a class="text-body-quaternary" href="#!"
                                                            data-bs-theme="light">Privacy</a></li>
                                        <li class="mb-1"><a class="text-body-quaternary" href="#!"
                                                            data-bs-theme="light">Community</a></li>
                                        <li class="mb-1"><a class="text-body-quaternary" href="#!"
                                                            data-bs-theme="light">Contact</a></li>
                                        <li class="mb-1"><a class="text-body-quaternary" href="#!"
                                                            data-bs-theme="light">Blog</a></li>
                                        <li class="mb-1"><a class="text-body-quaternary" href="#!"
                                                            data-bs-theme="light">FAQ</a></li>
                                        <li class="mb-1"><a class="text-body-quaternary" href="#!"
                                                            data-bs-theme="light">Project</a></li>
                                        <li class="mb-1"><a class="text-body-quaternary" href="#!"
                                                            data-bs-theme="light">Team</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-6 col-sm-4 col-lg-3 mb-3 order-3 order-sm-2">
                                <div class="border-dashed border-start border-primary-light ps-3"
                                     style="--phoenix-border-opacity: .2;">
                                    <h5 class="lh-lg fw-bold text-light mb-2"> Info</h5>
                                    <ul class="list-unstyled mb-md-2">
                                        <li class="mb-1"><a class="text-body-quaternary" href="#!"
                                                            data-bs-theme="light">Personal</a></li>
                                        <li class="mb-1"><a class="text-body-quaternary" href="#!"
                                                            data-bs-theme="light">NFT System</a></li>
                                        <li class="mb-1"><a class="text-body-quaternary" href="#!"
                                                            data-bs-theme="light">Agency</a></li>
                                        <li class="mb-1"><a class="text-body-quaternary" href="#!"
                                                            data-bs-theme="light">Contact</a></li>
                                        <li class="mb-1"><a class="text-body-quaternary" href="#!"
                                                            data-bs-theme="light">About</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of .container-->

        </section>
        <!-- <section> close ============================-->
        <!-- ============================================-->


    </div>
</div>